files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_create_pid_dir.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      mkdir -p /var/run/
      chmod 777 /var/run/
      
container_commands:
  01_create_pid_dir:
    command: "mkdir -p /var/run/ && chmod 777 /var/run/" 