option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_reload_gunicorn.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      
      # Get the current running gunicorn master process
      pid=$(pgrep -f 'gunicorn: master')
      
      if [ -n "$pid" ]; then
        # Send the HUP signal to reload workers gracefully
        kill -HUP $pid
      fi 